In [17]:
import pandas as pd
import ast  # 문자열을 파싱하기 위해 ast 라이브러리를 사용합니다.

# # 예시 데이터프레임 생성
# data = {
#     'Region': [['지역1', '지역3'], ['지역2'], ['지역1', '지역2'], ['지역3']],
#     'Value': [100, 200, 150, 50]
# }

# df = pd.DataFrame(data)

# # 빈 데이터프레임 생성
# result_df = pd.DataFrame()

# # 각 행의 Region 리스트를 반복하며 ID 값을 찾아서 새로운 데이터프레임에 추가
# for index, row in df.iterrows():
#     regions = row['Region']
#     values = row['Value']
    
#     # 각 Region을 ID로 변환
#     ids = [region_id_df.loc[region_id_df['Region'] == region, 'ID'].values[0] for region in regions]
    
#     # 새로운 데이터프레임에 ID와 Value 추가
#     row_data = {'ID': ids, 'Value': values}
#     temp_df = pd.DataFrame(row_data)
#     result_df = pd.concat([result_df, temp_df])

# # 결과를 출력
# print(result_df)

In [38]:
# clustering 데이터 불러오기
clusteringData = pd.read_csv('ClusteringnAnalysis.csv', encoding='utf-8', sep=",")
clusteringData.head(10)

,Id,ParentId,ChildrenIds,DoIds,level
0,root,NaN,"['서울', '경기']",[],0
1,경기,root,"['고양', '과천', '광명', '광주', '구리', '군포', '김포', '남양...",[],1
2,서울,root,"['가평군', '강남구', '강동구', '강북구', '강서구', '계양구', '관악...",[],1
3,가평군,서울,[],"['가평읍', '청평면']",2
4,강남구,서울,[],"['논현1동', '삼성2동', '역삼1동', '일원본동', '논현2동', '도곡1동...",2
5,강동구,서울,[],"['둔촌1동', '성내1동', '암사3동', '천호1동', '둔촌2동', '성내2동...",2
6,강북구,서울,[],"['번2동', '수유1동', '번3동', '수유2동', '삼각산동', '수유3동',...",2
7,강서구,서울,[],"['가양2동', '발산1동', '염창동', '화곡6동', '가양3동', '우장산동'...",2
8,계양구,서울,[],"['계산1동', '계산2동', '작전2동']",2
9,관악구,서울,[],"['난향동', '삼성동', '서림동', '서원동', '성현동', '신사동', '은천...",2

In [11]:
# 코드 네임 데이터 불러오기
region_id_df = pd.read_csv('ID_DO_Mapping.csv', encoding='utf-8', sep=",")
region_id_df.head(5)

,ID,Region,DataType,User,CreatedTime,description,Keyword
0,0,대학동,FILE,Pel,2023-10-26 01:13:27.104357,대학동에 대한 설명,"[대학동, '지역', '수도권']"
1,1,명동,FILE,YS,2023-10-26 01:13:27.104357,명동에 대한 설명,"[명동, '지역', '수도권']"
2,2,서초2동,FILE,Charlie,2023-10-26 01:13:27.104357,서초2동에 대한 설명,"[서초2동, '지역', '수도권']"
3,3,회현동,FILE,JH,2023-10-26 01:13:27.104357,회현동에 대한 설명,"[회현동, '지역', '수도권']"
4,4,서교동,FILE,Pel,2023-10-26 01:13:27.104357,서교동에 대한 설명,"[서교동, '지역', '수도권']"

In [39]:
import re
# 따옴표 제거하기
clusteringData['DoIds'] = clusteringData['DoIds'].apply(lambda x: re.findall(r"'(.*?)'", x))
clusteringData['ChildrenIds'] = clusteringData['ChildrenIds'].apply(lambda x: re.findall(r"'(.*?)'", x))

In [41]:
clusteringData.head(5)

,Id,ParentId,ChildrenIds,DoIds,level
0,root,NaN,"[서울, 경기]",[],0
1,경기,root,"[고양, 과천, 광명, 광주, 구리, 군포, 김포, 남양주, 동두천, 부천, 성남,...",[],1
2,서울,root,"[가평군, 강남구, 강동구, 강북구, 강서구, 계양구, 관악구, 광진구, 구로구, ...",[],1
3,가평군,서울,[],"[가평읍, 청평면]",2
4,강남구,서울,[],"[논현1동, 삼성2동, 역삼1동, 일원본동, 논현2동, 도곡1동, 청담동, 수서동,...",2

In [ ]:
for index, row in clusteringData.iterrows():
    values = row['DoIds']
    print(type(values))

In [64]:
# # 빈 데이터프레임 생성
result_df = pd.DataFrame()


# 각 행의 Region 리스트를 반복하며 ID 값을 찾아서 새로운 데이터프레임에 추가
for index, row in clusteringData.iterrows():
    Ids = row['Id']
    ParentIds = row['ParentId']
    ChildrenIdsList = row['ChildrenIds']
    # DoIdList = ast.literal_eval(row['DoIds'].replace("'", ''))  # 따옴표를 제거하고 문자열을 리스트로 파싱
    
    # DoIdList = ast.literal_eval(row['DoIds'])  # 문자열을 리스트로 파싱
    DoIdList = row['DoIds']
    # if len(DoIdList) == 0:
        # continue  # regions가 비어 있는 경우에 대한 처리

    levels = row['level']
    
    # 각 Region을 ID로 변환
    numericids = [region_id_df.loc[region_id_df['Region'] == DoIds, 'ID'].values[0] for DoIds in DoIdList]
    
    # 새로운 데이터프레임에 ID와 Value 추가
    row_data = {'Id': Ids, 'ParentId': ParentIds, 'ChildrenIds':ChildrenIdsList,'DoIds':numericids,'level':levels}
    # row_data = {'Id': Ids, 'ParentId': str(ParentIds), 'ChildrenIds':str(ChildrenIdsList),'DoIds':str(numericids),'level':levels}
    print(row_data)
    temp_df = pd.DataFrame(row_data)
    print(temp_df)
    result_df = pd.concat([result_df, temp_df])
    print(result_df)
    

# 결과를 출력
print(result_df)

{'Id': 'root', 'ParentId': nan, 'ChildrenIds': ['서울', '경기'], 'DoIds': [], 'level': 0}

ValueError: All arrays must be of the same length

In [67]:
# 'region_id_df'에서 Region과 ID 값만 선택
region_id_mapping = region_id_df[['ID', 'Region']]

# Region 값을 리스트로 변환하고 빈 리스트는 NaN으로 처리
# clusteringData['DoIds'] = clusteringData['DoIds'].apply(lambda x: x.strip('[]').split(', ') if x != '[]' else pd.NA)

# Region 값이 리스트인 행을 분리하여 새로운 데이터프레임 생성
clusteringData = clusteringData.explode('DoIds')

# 'df'와 'region_id_mapping'을 병합하여 Region 값을 ID로 변환
# result_df = clusteringData.merge(region_id_mapping, left_on='Region', right_on='Region', how='left')
result_df = pd.merge(clusteringData, region_id_mapping, left_on = 'DoIds', right_on = 'Region', how='left')

In [68]:
result_df

,Id,ParentId,ChildrenIds,DoIds,level,ID,Region
0,root,NaN,"[서울, 경기]",NaN,0,NaN,NaN
1,경기,root,"[고양, 과천, 광명, 광주, 구리, 군포, 김포, 남양주, 동두천, 부천, 성남,...",NaN,1,NaN,NaN
2,서울,root,"[가평군, 강남구, 강동구, 강북구, 강서구, 계양구, 관악구, 광진구, 구로구, ...",NaN,1,NaN,NaN
3,가평군,서울,[],가평읍,2,NaN,NaN
4,가평군,서울,[],청평면,2,NaN,NaN
...,...,...,...,...,...,...,...
701,수지구,용인,[],죽전2동,3,501.0,죽전2동
702,처인구,용인,[],역삼동,3,NaN,NaN
703,처인구,용인,[],유림동,3,NaN,NaN
704,처인구,용인,[],중앙동,3,217.0,중앙동
705,처인구,용인,[],포곡읍,3,NaN,NaN

In [66]:
#  EXAMPLE

import pandas as pd

# 예시 데이터프레임 생성
data = {
    'Region': ['[지역1, 지역3]', '[지역2]', '[]', '[지역1, 지역2]', '[지역3]', '[]']
}

df = pd.DataFrame(data)

# 'region_id_df'에서 Region과 ID 값만 선택
region_id_mapping = region_id_df[['ID', 'Region']]

# Region 값을 리스트로 변환하고 빈 리스트는 NaN으로 처리
df['Region'] = df['Region'].apply(lambda x: x.strip('[]').split(', ') if x != '[]' else pd.NA)

# Region 값이 리스트인 행을 분리하여 새로운 데이터프레임 생성
df = df.explode('Region')

# 'df'와 'region_id_mapping'을 병합하여 Region 값을 ID로 변환
result_df = df.merge(region_id_mapping, left_on='Region', right_on='Region', how='left')

# 결과를 출력
print(result_df)

  Region  ID
0    지역1 NaN
1    지역3 NaN
2    지역2 NaN
3   <NA> NaN
4    지역1 NaN
5    지역2 NaN
6    지역3 NaN
7   <NA> NaN